@import 'tailwindcss';

@theme {
	--color-background: #0f0920;
	--color-foreground: #f1f5f9;

	--color-card: #180e34;
	--color-card-foreground: #f8fafc;

	--color-primary: #7c3aed;
	--color-primary-foreground: #ffffff;

	--color-secondary: #261650;
	--color-secondary-foreground: #e2e8f0;

	--color-muted: #211344;
	--color-muted-foreground: #94a3b8;

	--color-accent: #2e1a61;
	--color-accent-foreground: #ffffff;

	--color-destructive: #ef4444;
	--color-destructive-foreground: #ffffff;

	--color-border: #2c1a58;
	--color-input: #2c1a58;
	--color-ring: #a78bfa;

	--radius-lg: 0.5rem;
	--radius-md: calc(0.5rem - 2px);
	--radius-sm: calc(0.5rem - 4px);
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
